<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
    <h1>My name is Dani</h1>
    <p class="about-me">
        I'm 25 years old and I'm from Venezuela.
        <br>
        I'm a former ballet dancer and yes, it is my passion!!!
<br>
I wantes to start doing something different, so I decided that I wanted to build usable programs with beautifull interfaces.👩🏻‍💻✨
    </p>

    <div class="button">
        <a href="/pictures">My pictures</a>
        <br>
        <br>
        <a href="/works">See my work here!</a>
        <br>
        <br>
        <a href="/home">Go home</a>
    </div>

</body>

</html>