<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
    <h1>Hi People:)</h1>
    <h3>Welcome to my page.</h3>
    <div class="button">
        <a href="/about-me">Learn more about me!</a>
        <br>
        <br>
        <a href="/works">See my work here!</a>
        <br>
        <br>

        <a href="/pictures">My pictures</a>
    </div>
</body>

</html>