<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>
    <h1>See some pictures!</h1>
    <div class="first-pic">
        <p><b>Here I have some pictures of me when I used to dance in Venezuela's Ballet Company
                Both of them are "The Nutcracker Ballet".</b>
        </p>
        <img src="/images/casca.jpg" alt="danipic" width="400px" height="400px">

        <img src="/images/danidance2.jpg" alt="danipic2" width="400px" height="400px">
        <br>
        <br>
    </div>

    <div class="second-pic">
        <p><b>Here a picture at my last job. It was a big corporation and it was really fun to work there.</b>
        </p>
        <img src="/images/danipic123.jpeg" alt="abpic" width="350px" height="400px">

    </div>
    <div class="third-pic">
        <p><b>And....Here is a picture with my boyfriend 💖</b>
        </p>
        <img src="/images/daniandadrian.jpg" alt="abpic" width="500px" height="400px">
    </div>

    <div class="button">
        <a href="/about-me">Learn more about me!</a>
        <br>
        <br>
        <a href="/works">See my work here!</a>
        <br>
        <br>
        <a href="/home">Go home</a>
    </div>

</body>

</html>